<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.petlocale_final">

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Petlocale_final">
        <activity
            android:name=".UsuarioMainServicios"
            android:exported="true" />
        <activity
            android:name=".UsuarioMainProductos"
            android:exported="true" />
        <activity
            android:name=".UsuarioMainInfo"
            android:exported="true" />
        <activity
            android:name=".DeleteProduct"
            android:exported="true" />
        <activity
            android:name=".AddProduct"
            android:exported="true" />
        <activity
            android:name=".VeterinariaMainProductos"
            android:exported="true" />
        <activity
            android:name=".VeterinariaMainDetailedInfo"
            android:exported="true" />
        <activity
            android:name=".VeterinariaMainHorarios"
            android:exported="true" />
        <activity
            android:name=".VeterinariaMainInfo"
            android:exported="true" />
        <activity
            android:name=".DeleteService"
            android:exported="true" />
        <activity
            android:name=".AddService"
            android:exported="true" />
        <activity
            android:name=".VeterinariaMainServicios"
            android:exported="true" />
        <activity
            android:name=".VeterinariaMain"
            android:exported="true" />
        <activity
            android:name=".RegistroVeterinaria"
            android:exported="true" />
        <activity
            android:name=".LogeoVeterinaria"
            android:exported="true" />
        <activity
            android:name=".EditUser"
            android:exported="true" />
        <activity
            android:name=".Inicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:exported="true" />
        <activity
            android:name=".Registro"
            android:exported="true" />
        <activity
            android:name=".Logeo"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>